.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);

}

.rightNav {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #FEFEFE;
  padding:5px 20px;
  border-radius: 8px;
  border: 1px solid #d3cde7;
}

.inputField {
  outline: none;
  border: none;
  color: black;
  padding: 8px 10px;
  border-radius: 6px;
  background-color: #FEFEFE;
}


.second{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.notification{
    font-size: 30px;
    color: #0A3B83;
}
.third{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.third img{
    border-radius: 50%;
    height: 49px;
    width: 47.16px;
}
